* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

#phone {
  border: 2px solid rgba(0, 0, 0, .5);
  width: calc(375px / 2);
  height: calc(812px / 2);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#background {
  background: #05DBEA;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: calc(100% - 50px);
  filter: url("#goo");
  z-index: 1;
}

#round {
  height: 30px;
  width: 30px;
  left: calc(26.5%);
  border-radius: 100%;
  position: absolute;
  bottom: -30px;
  z-index: 2;
  transition: left .4s cubic-bezier(0, 0, 0, 1.04);
  background: #05DBEA;
}

#round.sliding {
  animation: slide 0.35s cubic-bezier(0, 0, 0, 1.01);;
}

#tab-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-bottom: 10px;
  background: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  z-index: 2;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform .25s ease-in-out;
  user-select: none;
}

.icon-picture {
  opacity: .5;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon.selected {
  box-sizing: initial;
  transform: translateY(-7px) scale(1.2);
  background: #fff;
  border-radius: 100%;
  box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.38);
}

.selected .icon-picture {
  opacity: 1 !important;
}

@keyframes slide {
  0% {
    bottom: -30px;
  }
  50% {
    bottom: -9px;
  }
  100% {
    bottom: -30px;
  }
}
