/* General Styling */
:Root {
--Smaller: .75;
}
* {
	Box-Sizing: Border-Box;
	Margin: 0;
	Padding: 0;
}
Html, Body {
	Height: 100%;
	Margin: 0;
}
Body {
	Align-Items: Center;
	Background-Color: #Ffd54f;
	Display: Flex;
	Font-Family: -Apple-System,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen-Sans,
	Ubuntu,
	Cantarell,
	"Helvetica Neue",
	Sans-Serif;
}
.Container {
	Color: #333;
	Margin: 0 Auto;
	Text-Align: Center;
}
H1 {
	Font-Weight: Normal;
	Letter-Spacing: .125rem;
	Text-Transform: Uppercase;
}
Li {
	Display: Inline-Block;
	Font-Size: 1.5em;
	List-Style-Type: None;
	Padding: 1em;
	Text-Transform: Uppercase;
}
Li Span {
	Display: Block;
	Font-Size: 4.5rem;
}
